<div class="table-responsive">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombres</th>
      <th>Especialidad</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>