@{
    ViewData["Title"] = "Médicos";
}

<table id="table" class="table is-hoverable">
  <thead class="thead-dark">
    <tr>
      <th>Nombres</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

@section Scripts {
    <script src="~/js/MedicoIndex.js" asp-append-version="true"></script>
}