@{
    ViewData["Title"] = "Calendar";
}

<div id="medicos">
    <img src="~/images/Clip_A0_Group_76_pattern.png" alt="..." class="rounded-circle">
</div>

<hr>

<div id='calendar'></div>

<div id="modal-nueva-cita" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Cita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="apellidosNombres">Apellidos y Nombres</label>
                <input type="text" class="form-control" id="apellidosNombres">
              </div>
              <div class="form-group">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo">
              </div>
              <div class="form-group">
                <label for="movil">Móvil</label>
                <input type="text" class="form-control" id="movil">
              </div>
              <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="date" class="form-control" id="fecha">
              </div>
              <div class="form-group">
                <label for="hora">Hora</label>
                <input type="time" class="form-control" id="hora">
              </div>
              <div class="form-group">
                <label for="duracion">Duración</label>
                <input type="text" class="form-control" id="duracion">
              </div>
              <div class="form-group">
                <label for="medico">Médico</label>
                <input type="text" class="form-control" id="medico">
              </div>
              <div class="form-group">
                <label for="tipo">Tipo</label>
                <input type="text" class="form-control" id="tipo">
              </div>
              <div class="form-group">
                <label for="comentarios">Comentarios</label>
                <textarea id="comentarios" class="form-control"></textarea>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>