@{
    ViewData["Title"] = "Cita";
}

<section class="hero is-fullheight">
  <div class="hero-body hero-background">
    <div class="container has-text-centered">
        <div class="card card-on-hero">
            <div class="card-content">
                <p class="title is-5">Seleccione la sede de su preferencia</p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <button class="button is-white is-large is-fullwidth">Lima</button>
                </p>
                <p class="card-footer-item">
                    <button class="button is-white is-large is-fullwidth">Tacna</button>
                </p>         
            </footer>
        </div>
        <div class="card card-on-hero">
            <div class="card-content">
                <nav class="panel">
                    <p class="panel-heading">
                        Seleccione una de las opciones
                    </p>     
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        bulma
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        marksheet
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        minireset.css
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        jgthms.github.io
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        daniellowtw/infboard
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                        <i class="fas fa-code-branch" aria-hidden="true"></i>
                        </span>
                        mojs
                    </a>
                </nav>
            </div>
        </div>
    </div>
  </div>
</section>

@section Scripts {
    <script src="~/js/cita.js" asp-append-version="true"></script>
}