@{
    ViewData["Title"] = "Citas";
}

<div class="card">
  <div class="card-content">
    <div class="columns is-mobile is-multiline is-centered">
      <div class="column is-narrow">
        <div class="select">
          <select id="IdMedicoBuscar">
            <option value='0'>Todos</option>
          </select>
        </div>
      </div> 
      <div class="column is-narrow">
        <input class="input" type="text" placeholder="Cliente" id="ClienteBuscar">
      </div>
      <div class="column is-narrow">        
        <a class="button is-dark" id="btn-filtrar">Filtrar</a>
      </div>  
    </div>
  </div>  
</div>
<div class="card">
  <div class="card-content">
      <div id='calendar'></div>
  </div>
</div>

<div id="modal-nueva-cita" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Cita</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form id="form-cita" name="form-cita">

        <input type="text" id="IdCita" name="IdCita" style="display: none;">
        
        <div class="field">
          <label class="label">Nombres</label>
          <div class="control">
            <input class="input" type="text" id="NombreCliente" name="NombreCliente">
          </div>
        </div>
        <div class="field">
          <label class="label">Correo</label>
          <div class="control">
            <input class="input" type="email" id="CorreoCliente" name="CorreoCliente">
          </div>
        </div>
        <div class="field">
          <label class="label">Celular</label>
          <div class="control">
            <input class="input" type="text" id="Movil" name="Movil">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <label class="label">Fecha Cita</label>
            <div class="control">
              <input class="input" type="text" id="FechaInicioCita" name="FechaInicioCita">
            </div>
          </div>
          <div class="control">
            <label class="label">Duración</label>
            <div class="control">
              <div class="select">
                <select id="Duracion" name="Duracion">
                  <option value="30">30 min</option>
                  <option value="60">1 hr</option>
                  <option value="90">1 hr 30 min</option>
                  <option value="120">2 hrs</option>
                  <option value="150">2 hrs 30 min</option>
                  <option value="180">3 hrs</option>
                  <option value="210">3 hrs 30 min</option>
                  <option value="240">4 hrs</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <label class="label">Médico</label>
            <div class="control">
              <div class="select">
                <select id="IdMedico" name="IdMedico">
                </select>
              </div>
            </div>
          </div>
          <div class="control">
            <label class="label">Tipo</label>
            <div class="control">
              <div class="select">
                <select id="IdTipo" name="IdTipo">
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Comentarios</label>
          <div class="control">
            <textarea class="textarea" placeholder="Textarea" id="Comentarios" name="Comentarios"></textarea>
          </div>
        </div>
        </form>
    </section>
    <footer class="modal-card-foot">
      <button id="btn-cancelar" class="button is-success" style="display: none;">Eliminar</button>
      <button id="btn-guardar" class="button is-success">Guardar</button>
      <button id="btn-actualizar" class="button is-success" style="display: none;">Actualizar</button>
    </footer>
  </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/js/fullcalendar/core/main.min.css"/>
    <link rel="stylesheet" href="~/js/fullcalendar/daygrid/main.min.css"/>
    <link rel="stylesheet" href="~/js/fullcalendar/timegrid/main.min.css"/>
}

@section Scripts {
    <script src="~/js/fullcalendar/core/main.min.js"></script>
    <script src="~/js/fullcalendar/interaction/main.min.js"></script>
    <script src="~/js/fullcalendar/daygrid/main.min.js"></script>
    <script src="~/js/fullcalendar/timegrid/main.min.js"></script> 
    <script src="~/js/fullcalendar/moment/main.min.js"></script>
    <script src="~/js/fullcalendar/core/locales/es.js"></script>
    <script src="~/js/fullcalendar/resource-common/main.min.js"></script> 
    <script src="~/js/fullcalendar/resource-daygrid/main.min.js"></script> 
    <script src="~/js/fullcalendar/resource-timegrid/main.min.js"></script>
    <script src="~/js/HomeIndex.js" asp-append-version="true"></script>
}