@{
    ViewData["Title"] = "Home";
}

<!-- <div id="medicos">
    <img src="~/images/Clip_A0_Group_76_pattern.png" alt="..." class="rounded-circle">
</div>

<hr> -->

<div id='calendar'></div>

<div id="modal-nueva-cita" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva Cita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="form-cita">
              <input type="hidden" id="IdCita">
              <div class="form-group">
                <label for="NombreCliente">Nombre Cliente</label>
                <input type="text" class="form-control" id="NombreCliente">
              </div>
              <div class="form-group">
                <label for="CorreoCliente">Correo</label>
                <input type="email" class="form-control" id="CorreoCliente">
              </div>
              <div class="form-group">
                <label for="Movil">Móvil</label>
                <input type="text" class="form-control" id="Movil">
              </div>
              <div class="form-group">
                <label for="FechaCita">Fecha Cita</label>
                <input type="date" class="form-control" id="FechaCita">
              </div>
              <div class="form-group">
                <label for="Duracion">Duración</label>
                <input type="text" class="form-control" id="Duracion">
              </div>
              <div class="form-group">
                <label for="IdMedico">Médico</label>
                <select id="IdMedico" class="custom-select">
                  <option>Seleccione</option>
                  <option value="1">a</option>
                  <option value="2">b</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Tipo">Tipo</label>
                <input type="text" class="form-control" id="Tipo">
              </div>
              <div class="form-group">
                <label for="Comentarios">Comentarios</label>
                <textarea id="Comentarios" class="form-control"></textarea>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/js/fullcalendar/core/main.min.css" />
    <link rel="stylesheet" href="~/js/fullcalendar/daygrid/main.min.css" />
    <link rel="stylesheet" href="~/js/fullcalendar/timegrid/main.min.css" />
}

@section Scripts {
    <script src="~/js/fullcalendar/core/main.min.js" asp-append-version="true"></script>
    <script src="~/js/fullcalendar/interaction/main.min.js" asp-append-version="true"></script>
    <script src="~/js/fullcalendar/daygrid/main.min.js" asp-append-version="true"></script>
    <script src="~/js/fullcalendar/timegrid/main.min.js" asp-append-version="true"></script> 
    <script src="~/js/fullcalendar/moment/main.min.js" asp-append-version="true"></script>
    <script src="~/js/fullcalendar/core/locales/es.js" asp-append-version="true"></script>
    <script src="~/js/fullcalendar/resource-common/main.min.js" asp-append-version="true"></script> 
    <script src="~/js/fullcalendar/resource-daygrid/main.min.js" asp-append-version="true"></script> 
    <script src="~/js/fullcalendar/resource-timegrid/main.min.js" asp-append-version="true"></script>
    <script src="~/js/HomeIndex.js" asp-append-version="true"></script>
}