.container.is-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
}

.navbar {
    padding: 1rem;
}

hr {
    margin: 0rem;
}

.footer {
    padding-top: 3rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
}

.card {
    margin: 1rem;
}

.modal-card {
    box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 20px rgba(0,0,0,0.19);
    max-width: fit-content;
    border-radius: 0.5rem;
}

.card-content {
    padding: 1rem;
}

.modal-background {
    background-color: transparent;
}

@media (max-width: 799px) {
    .hero-background {
        background-image: url(../images/hero_image_portrait.jpg);
        background-size: cover;
    }
}

@media (min-width: 800px) {
    .hero-background {
        background-image: url(../images/hero_image.jpg);
        background-size: cover;
    }
}

.card-on-hero {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
}