.container.is-fluid {
    padding-left: 0em;
    padding-right: 0em;
}

.navbar {
    margin-bottom: 1em;
}

.footer {
    padding: 2em;
    margin-top: 1em;
}

.card {
    margin: 1em;
}

.modal-card {
    box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 20px rgba(0,0,0,0.19);
    width: 30em;
    max-width: calc(100vh - 40px);
    border-radius: 0.5em;
}

.card-content {
    padding: 1em;
}

.modal-background {
    background-color: transparent;
}